.landing-container{
    background-color: red;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain; 
}
.landing-container h1 {
    color: #fff;
    font-size: 80px;
    margin-top: -100px;
    text-align: center;
    /* padding-left: 40px;
    padding-right: 40px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .landing-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
      
  }
  
  .landing-btns {
    margin-top: 32px;
  }
  
  .landing-btns .btn {
    margin: 6px;
  }landing-img
  
  .fa-play-circle {
    margin-left: 4px;

  
  }
  .landing-img {
    width: 30%;
    height: 40%;
    position: absolute;
    top: 10%;
    left: 50%;
    
    transform: translate(-50%, -50%);
  }
  
  